*{
	margin: 0px;
	padding: 0px;

}

header{
	padding: 5% 0px;
	background-image:url("http://www.planwallpaper.com/static/images/Mario-mario-wallpaper-hd-games-1920x1080.jpg");
	background-size: 100%;
	background-position: 0px -200px;
	
}